body{
    text-align: center;
    color: #e2e8f0;
    font-family: Arial, sans-serif;
}

/* image */
img
{
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

/* home */
#home{
  background-color: blue;
  padding: 10px 0px;
  border-radius: 10px;
  margin: 0px 10px;
}

#about{
  background-color: rgb(12, 12, 222);
  margin: 5px 10px;
  padding: 0 10px 5px;
  border-radius: 10px;
}

h2{
  padding-top: 5px;
  margin: 0;
}

#skills{
  background-color: rgb(58, 58, 192);
  margin: 5px 10px;
  padding: 0 10px 5px;
  border-radius: 10px;
}

#skill-cards{
    display: flex;
    gap: 5px;
    list-style: none;
    justify-content: center;
}

.skill-card{
  background-color: #7e08ed;
  padding: 5px 5px;
  border-radius: 2px;
}

#portfolio{
  background-color: rgb(44, 44, 115);
  margin: 5px 10px;
  padding: 0 10px 5px;
  border-radius: 10px;
}

#contact{
  background-color: rgb(45, 45, 90);
  margin: 5px 10px;
  padding: 0 10px 5px;
  border-radius: 10px;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Footer Styling */
.footer {
  background: #0f172a;
  color: #e2e8f0;
  margin: 5px 0px;
  padding: 10px 0px;
  border-radius: 10px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer h2, .footer h3 {
  margin-bottom: 15px;
  color: #ffffff;
}

.footer p {
  font-size: 14px;
  color: #cbd5e1;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
  transition: all 0.3s ease;
}

/* Hover Effect */
.footer a:hover {
  color: #38bdf8;
  transform: translateX(-5px);
}

/* Bottom Section */
.footer-bottom {
  border-top: 1px solid #334155;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.back-to-top {
  background: #38bdf8;
  color: #0f172a;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s ease;
  transform: translateY(-5px)
}

.back-to-top:hover {
  background: #0ea5e9;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}